# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Compiled CSS
dist/

# Sass cache
.sass-cache/

# Environment variables
.env

# MacOS files
.DS_Store

# Other
*.tmp
*.swp

# Ignore all JSON files
*.json