@use "../utils/variables" as *;
@use "../base/resets" as *;
@use "../base/base" as *;

.info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    

    &__title {
        font-size: $font-size-medium;
        color: $primary-color;
        margin-bottom: 2rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        flex-wrap: wrap;
    }

    .card {
        text-align: center;
        background-color: $quote-background-color;
        padding: 1rem;
        border-radius: 1rem;
        width: 15rem;
        display: inline-block;

        &__description {
            width: 9.375rem;
            margin: 0 auto;
    }

    &:hover {
            transform: translateY(-1rem);
            transition: 0.3s ease-in-out;
        }
}


}   